<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">State Names &amp; Codes</h5>
          <div class="table-responsive">
	        <table class="table table-sm table-striped table-bordered table-hover" id="statestable">
	          <caption>List of U. S. states and their two-character abbreviations</caption>
	          <thead>
	            <tr>
	              <th scope="col">Name</th>
	              <th scope="col">Code</th>
	            </tr>
	          </thead>
	          <tbody id="statedata">
	            {{#each data.stateresults}}
	              <tr><td>{{this.Name}}</td><td>{{this.Abbrev}}</td></tr>
	            {{/each}}
	          </tbody>
	        </table>
          </div> <!-- table-responsive -->
        </div>  <!-- card-body -->
      </div>  <!-- card -->
    </div>  <!-- col-sm -->

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Canadian Provinces &amp; Codes</h5>
          <div class="table-responsive">
          <table class="table table-sm table-striped table-bordered table-hover" id="provincestable">
            <caption>List of Canadian provinces and their two-character abbreviations</caption>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
              </tr>
            </thead>
            <tbody id="provincedata">
              {{#each data.provinceresults}}
                <tr><td>{{this.Name}}</td><td>{{this.Abbrev}}</td></tr>
              {{/each}}
            </tbody>
          </table>
          </div> <!-- table-responsive -->
        </div>  <!-- card-body -->
      </div>  <!-- card -->
    </div>  <!-- col-sm -->

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Country Names &amp; Abbreviations</h5>
          <div class="table-responsive">
          <table class="table table-sm table-striped table-bordered table-hover" id="countriestable">
            <caption>List of Countries and their three-character abbreviations</caption>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Abbrev</th>
              </tr>
            </thead>
            <tbody id="countrydata">
              {{#each data.countryresults}}
                <tr><td>{{this.Name}}</td><td>{{this.Abbrev}}</td></tr>
              {{/each}}
            </tbody>
          </table>
          </div> <!-- table-responsive -->
        </div>  <!-- card-body -->
      </div>  <!-- card -->
    </div>  <!-- col-sm -->

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">North American Tracks</h5>
          <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered table-hover" id="natrackstable">
              <caption>Thoroughbred race tracks on the North American continent</caption>
              <thead>
                <tr>
                  <th scope="col">TrackCode</th>
                  <th scope="col">ShortName</th>
                  <th scope="col">LongName</th>
                  <th scope="col">State</th>
                </tr>
              </thead>
              <tbody id="trackdata">
	            {{#each data.tracksresults}}
	              <tr><td>{{this.TrackCode}}</td><td>{{this.ShortName}}</td><td>{{this.LongName}}</td><td>{{this.State}}</td></tr>
	            {{/each}}
              </tbody>
            </table>
          </div>  <!-- table-responsive -->
        </div>  <!-- card-body -->
      </div>  <!-- card -->
    </div>  <!-- col-sm -->
  </div>  <!-- row -->

</div>  <!-- container -->